img {
    height: 92px;
    width: 272px;
}
.logo {
    justify-self: center;
}
a {
    text-decoration: none;
}
body {
    display: grid;
    grid-row: 60px 20vh 80px 70px 60px;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav {
    justify-self: right;
    display: grid;
    grid-template-columns: auto auto auto;
}
.top-links {
    display: grid;
    grid-template-columns: 50px 50px;
    margin: 20px;
}
.tlink {
    color: rgba(0,0,0,0.8);
    font-size: 13px;
}
.fa-th {
    color: rgba(0,0,0,0.7);
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    cursor: pointer;
}
.tlink:hover{
    text-decoration: underline;
    color: rgba(0,0,0,0.7);
}
.blink {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}
.blink:hover {
    text-decoration: underline;
}
.user-icon {
    margin: 15px;
    margin-right: 25px;
    background: #0097e6;
    background-size: 32px 32px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-weight: 520;
}
.icon {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 16px;
    color: blanchedalmond;
}
main {
    justify-self: center;
    margin-top: 7%;
}
.the-google {
    display: grid;
    grid-row: auto auto auto;
    margin: auto;
}
.logo-container {
    position: relative;
    justify-self: center;
    margin-bottom: 20px;
}
.search-buttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    align-self: center;
}
#searchb {
    display: grid;
    grid-template-columns: 30px auto;
    width: 40vw;
    height: 40px;
    border-radius: 30px;
    border: solid;
    border-color: rgba(0,0,0,0.07);
    outline: none;
    text-align: start;
    align-self: center;
    overflow: hidden;
    text-align: left;
}
#searchb:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.search-box {
    position: relative;
    border: none;
    outline: none;
    justify-self: center;
    width: 99%;
    height: 38px;
    font-size: 20px;
}
#search-icon {
    position: relative;
    align-self: center;
    text-align: center;
    left: 5px;
    color: rgba(0,0,0,0.7);
}
.search-button {
    text-align: right;
    margin-right: 15px;
}
.search-button input {
    border-radius: 10px;
    color: rgba(0,0,0,0.6);
    outline: none;
    border-color: transparent;
    background-color: rgba(0,0,0,0.05);
    height: 36px;
    min-width: 64px;
}
.lucky-button input {
    border-radius: 10px;
    color: rgba(0,0,0,0.6);
    outline: none;
    border-color: transparent;
    background-color: rgba(0,0,0,0.05);
    height: 36px;
    min-width: 64px;
}
.search-button input:hover, .lucky-button input:hover {
    border-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}
footer {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
}
.bottom-links {
    display: grid;
    grid-template-columns: 30% 30%;
    padding-top: 5px;
    max-height: 35px;
}
.bleft-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.bright-links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
    position: absolute;
    right: 15px;
    justify-content: right;
    justify-items: right;
    justify-self: right;
}