img {
    height: 92px;
    width: 272px;
}
a {
    text-decoration: none;
}
body {
    display: grid;
    grid-row: 60px 20vh 80px 70px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    justify-self: right;
    display: grid;
    grid-template-columns: auto auto auto;
}

.top-links {
    display: grid;
    grid-template-columns: 50px 50px;
    margin: 20px;
}

.tlink {
    color: rgba(0,0,0,0.8);
    font-size: 13px;
}
.tlink:hover{
    text-decoration: underline;
    color: rgba(0,0,0,0.7);
}
.blink {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}
.blink:hover {
    text-decoration: underline;
}
.user-icon {
    margin: 15px;
    background: #0097e6;
    background-size: 32px 32px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-weight: 520;
}
.icon {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 16px;
    color: blanchedalmond;
}